<div class="container text-center">
    <h1>About Page</h1>
    <p>This is DevMatch, this site focuses on creating an exclusive communitiy
    for developers and entreprenours to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Optio, laboriosam porro blanditiis corporis 
    tenetur officiis. Optio, dolores voluptas pariatur praesentium voluptates 
    ea reiciendis voluptatum architecto quae fuga. Provident, perferendis, 
    asperiores.</p>
</div>