<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have received a message from the Saasapp sites contact form, from: 
        <%= "#{ @name }, #{ @email }."%></p>
        <hr>
        <p><%= @body %></p>
        <hr>
    </body>
</html>
